[Desktop Entry]
Type=Application
Name=PDFExtractor
Comment=Μετατροπή ερευνητικών PDF σε δομημένη βάση paper
Exec=pdfextractor
Icon=pdfextractor
Terminal=false
Categories=Office;Utility;
